@import "~font-awesome/css/font-awesome.css";
:root {
    --azul: #38b6ff;
    --azulT: #10384e;
    --azulM: #0c2533;
    --rosa: #ec28a1; 
    --preto: #333333;
    --rosaF: #e0c9d8; 
    --cinza: #e4e4e4;
    --footerHeight: 40px;
  }
#container{
    min-height: 120vh; 
}
#header{
    height: 60px;
    width: 100%;
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#lth{
    margin-left: 10%;
    width: 80px;
    height: 80px;
}
#ich{
    color: var(--rosa);
    font-size: 30px;
    margin-right: 10%;
    cursor: pointer;
}
#l1h{
    width: 100%;
    height: 3px;
    background-color: var(--azulM);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.404);
}
#lf{ 
    position: fixed;
    top: calc(100% - var(--footerHeight));
    transform: translateY(-100%);
    width: 100%;
    height: 3px;
    background-color: var(--azulM);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.404);
}
#footer{
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    height: var(--footerHeight);
    width: 100%;
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
}
#ltf{ 
    width: 60px;
    height: 60px;
}
.tm{
    font-size: 24px;
    padding-top: 20px;
    color: var(--azulT);
    text-align: center;
}
#contatosm{
    padding-top: 10px;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bcm{
    width: 60%;
    max-width: 200px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: var(--azulT);
    cursor: pointer;
}
.ibcm{
    font-size: 24px;
    margin-left: 20%;
}
.tbcm{
    width: 100px;
    margin-right: 20px;
    color: var(--rosaF);
    font-size: 16px;
    text-align: left;
}
#whatsapp{
    color: #6ed895;
}
#instagram{
    color: #e27fc1;
}
#envelope{
    color: #e4786f;
}
.inner{
    display: flex;
}
.item{
    height: 90%;
    min-width: 30%;
    margin-right: 14px;
}
.dcm{
    width: 180px;
    margin-right: 14px;
    height: 230px;
    border-radius: 12px; 
    overflow: hidden;
    pointer-events: none;
    background-color: var(--azulT);
}
#cim{
    width: 100%;
    height: 110px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.418);
}
#ctm{
    padding-top: 10px;
    text-align: center;
    color: var(--cinza);
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.cdtm{
    display: flex;
    color: var(--cinza);
    font-size: 14px;
    width: 100%;
    padding: 0px 0px 0px 12px;
}
#cdtm1{
    padding: 15px 0px 5px 12px;
} 
#cdtm2{
    padding: 0px 0px 12px 12px;
}
.dfm{
    width: 20px;
}
.carousel{
    cursor: grab;
    overflow: hidden;
}
#cobrecarouselm{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#containerch{
    height: 100vh; 
}
#icch{
    position: absolute;
    font-size: 30px;
    top: 3%;
    left: 5%;
    color: var(--rosa);
} 
.odcch{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    cursor: pointer;
    margin-left: 30px; 
    border: 4px solid var(--azulM);
}
.tcch{
    font-size: 18px; 
    color: var(--azulT); 
    padding-left: 15px;
}
#dc1ch{
    margin-top: 5px;
    display: flex;
    width: 100%;  
    align-items: center;
}
.ttcch{
    padding-top: 5px;
    font-size: 22px; 
    color: var(--azulT); 
    text-align: center; 
}
#engch{
    margin-top: 10px;
}
#fb{
    width: 60%;
    position: relative;
    left: 50%;
    max-width: 350px;
    margin-top: 20px;
    transform: translateX(-50%);
    border-radius: 12px;
}
#nb{
    font-size: 22px;
    width: 80%;
    max-width: 700px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
.db{
    display: flex;
    width: 70%;
    max-width: 700px;
    margin: auto;
    justify-content: space-around;
}
.ddb{
    display: flex;
    padding-top: 10px;
} 
.dfb{
    width: 20px;
}
#describ{
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 15px;
    padding: 20px 0px;
}
#l1b{
    width: 90%;
    height: 3px;
    margin: auto;
    border-radius: 12px;
    background-color: var(--azulM);
}
#bb{
    width: 80%;
    max-width: 800px;
    height: 80px;
    margin: 15px 0px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: var(--azulT);
    cursor: pointer;
}
.bbi{
    font-size: 32px;
    margin-left: 10%;
}
.bbt{
    width: 60%;
    margin-right: 20px;
    color: var(--rosaF);
    font-size: 16px;
    text-align: left;
}
#containerA{ 
    min-height: 120vh; 
}
@media screen and (width >500px) { 
    #lth{
        margin-left: 20%;
        width: 80px;
        height: 80px;
    }
    #ich{
        color: var(--rosa);
        font-size: 30px;
        margin-right: 20%;
        cursor: pointer;
    }
}